{% extends "layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/b1_utama.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 style=" margin-top: 10px; font-weight: 550"> Add Reply </h1>
                <form action="{% url 'tanggapan:submit-reply' id %}" method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-block">
                            <!-- Form for new name -->
                            <h5 class="card-title" > Name </h5>
                                <input type="text" class="form-control" name="sender" id="sender" />
                            <h5 class="card-title" style=" margin-top: 10px"> Reply </h5>
                                <input type="text" class="form-control" name="message" id="message" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-right" style="margin-top: 8px; margin-bottom: 20px" id="button">Add Reply</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
