{% extends 'b1_utama/b1_utama.html' %}
{% block reply %}
    <form id= "tanggapan-form" class="class=form-horizontal" role="form" action="{% url "b4_tanggapan:add-tanggapan" i.id %}" method="get" >
        <textarea id = "tanggapan-form-message" class = "form-control post" type = "text" placeholder="Tulis Tanggapan"></textarea>
        <textarea id = "tanggapan-form-name" class = "form-control post" type = "text" placeholder="Tulis Nama"></textarea>
        <button class="postStatus btn-success">Reply</button>
    </form>

    <div class="tanggapan-container">
    {% for j in i.reply_set.all %}
        <div class="tanggapan">
            <h5>j.sender</h5>
            <h5>j.created_time</h5>
            <br>
            <h5>j.message</h5>
        </div>
    {% endfor %}
    </div>
{% endblock %}